.news-container{
    position:relative;
    width: 100%;


    @media (min-width: 1336px) {
        height: 650px;
        overflow-y: scroll;
    }

    .loader{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }

}


.trending-wrapper{
    padding:1rem;
    background-color:#f4a548;
    color: #fff;
    display: inline-flex;
    transform: skew(-20deg);
    margin-left:1.5rem;
}