.homepage{
    display: block;

    @media (min-width: 1336px) {
        .column{
            float: left;
        }
        .left-panel,.right-panel{
            width: 25%;
        }

        .main-area{
            width: 50%;
        }
    }
}
